modules = ["python-3.12"]
run = "python main.py"

[nix]
channel = "stable-25_05"
packages = ["borgbackup"]

[deployment]
run = ["sh", "-c", "py main.py"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 16017
externalPort = 80

[workflows]
runButton = "Run with Web UI"

[[workflows.workflow]]
name = "Run with Web UI"
author = 45640243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_main.py"
