modules = ["python-3.12"]
run = "python main.py"

[nix]
channel = "stable-25_05"
packages = ["borgbackup"]

[deployment]
run = ["sh", "-c", "py main.py"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 16017
externalPort = 3000

[[ports]]
localPort = 16018
externalPort = 16018

[workflows]
runButton = "BSSCI Service"

[[workflows.workflow]]
name = "Run with Web UI"
author = 45640243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_main.py"

[[workflows.workflow]]
name = "Full BSSCI Service"
author = 45640243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Web UI"
author = 45640243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_main.py"

[[workflows.workflow]]
name = "Simple BSSCI Service"
author = 45640243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python simple_main.py"

[[workflows.workflow]]
name = "BSSCI Service"
author = 45640243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_main.py"
